html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:rgb(163, 255, 255);
    /* background-image: url("imgs/storePageBG3.jpg"); */
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.container {
    background-color: rgb(255, 255, 255);

}

.navbar {
    background-color: rgb(163, 255, 255);
}


#logo {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#logoIceCream {
    color: rgb(255, 255, 255);
}
.cartBtn {
    border: 2px solid white;
    text-align: center;
    border-radius: 2px;
    background-color: #ffffff;
    padding: 8px;
    margin: auto;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    outline: 0;
}

.cartBtn:focus {
    border: 3px solid ;
    border-color: aqua;
    background: white;
    outline: 0;
}

.page-footer {
    background-color: rgb(163, 255, 255);
}
.text-font{
    font-family: 'Pacifico', cursive;
}